/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8d3ef;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 30px;
    height: 100vh;
    box-sizing: border-box;
}

.section {
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

/* Sección que ocupa el 70% de la pantalla */
.section-70 {
    margin-right: 15px;
    flex: 7;
}

/* Sección que ocupa el 30% de la pantalla */
.section-30 {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}

/* Estilo para el contenido centrado en la sección-30 */
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-content h2{
   color: #674188;
}

.center-content p{
    color: grey;
    font-size: 16px;
    font-weight: 500;
 }
 
/* Imagen centrada */
.center-image {
    width: 350px;
    height: 300px;
    margin-bottom: 20px;
}

/* Estilo para la imagen en la esquina superior izquierda */

.top-left-image {
    width: 40px;
    height: 40px;
}

.section-70 p {
    color: #674188;
    font-size: 25px;
    padding-top: 50px;
    padding-left: 100px;
}

.input-button-group {
    position: relative;
    top: 48%;
    width: 100%;
}

.full-width-input {
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 10px 0;
    box-sizing: border-box;
    color: #674188;
}

.full-width-input:focus {
    outline: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* Estilos para los botones */
.action-button {
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    flex: 1;
    margin-right: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    padding:  22px 20px;
}

.action-button:last-child {
    margin-right: 0;
}

.primary-button {
    background-color: #674188;
    color: white;
    border: 2px solid transparent;
}

.primary-button:hover {
    background-color: transparent;
    color: #674188;
    border: 2px solid #674188;
}

.second-button {
    background-color: transparent;
    color: #674188;
    border: 2px solid #674188;
}

.second-button:hover {
    background-color: #674188;
    color: white;
    border: 2px solid transparent;
}

/* Media Queries para tablets y móviles */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .section {
        flex: none;
        margin-bottom: 15px;
    }

    .section-70, .section-30 {
        width: 100%;
    }

    .button-container {
        flex-direction: column;
    }

    .action-button {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .action-button:last-child {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1400px) {
    .input-button-group {
        position: relative;
        top: 60%;
        width: 100%;
    }
}

@media screen and (min-width: 300px) {
    .container {
        flex-direction: column;
    }

    .section {
        flex: none;
        margin-bottom: 15px;
        padding: 10px;
    }

    .section-70 {
        height: 70vh;
    }

    .section-70, .section-30 {
        margin-right: 0px;
        width: 100%;
    }

    .input-button-group {
        top: 0%;
        width: 100%;
    }

    .section-70 p {
        padding-top: 0px;
        padding-left:0px;
    }

    .button-container {
        flex-direction: column;
    }

    .action-button {
        margin-right: 0;
        margin-bottom: 10px;
        border-radius: 22px;
        padding:  15px;
    }

    .action-button:last-child {
        margin-bottom: 0;
    }

    .section-30 {
        margin-bottom: 30px;
    }

    .center-image {
        width: 290px;
        height: 300px;
    }
    
}